body{
  font-family: 'Inter', sans-serif;
}

.exp-card img {
  height: 80px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.exp-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.05);
  padding: 1.5rem;
}

.exp-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.exp-card .badge {
  font-size: 0.8rem;
}


.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 4px solid #007bff;
}

.timeline-item {
  margin-bottom: 30px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 6px;
  width: 14px;
  height: 14px;
  background-color: #007bff;
  border-radius: 50%;
  border: 2px solid white;
}